.myLichaam{
background-color:yellow;
};

.menuKleur {
    
    width: 250px;
    height:800 px;
    border: 3px solid black;
    /*background-color: white;*/
    padding: 20px;
    display: none;
}

li {
width: 150px;
height: 50px;
border:3px solid black;
/*background-color: aqua;*/

}

.visible{
 display:block;
}

/*styling for button Home Grey*/
.home-grey{
    color: grey;
};

.kleurGrijs{background-color: grey;}

